body{
font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    justify-content: center;
    display: flex;
    padding-top: 19%;
    
}
.title{
    display: flex;
    height: 50%;
}
.container{
    -webkit-box-shadow: 24px 10px 18px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 24px 10px 18px 0px rgba(0,0,0,0.51);
box-shadow: 24px 10px 18px 0px rgba(0,0,0,0.51);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 35px;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input{
    justify-content: center;
}

#calcular

.result{
    margin-top: 10px;
    width: 150px;
    height: 400px;
    background-color: cadetblue;

 
    
}